/*Extra small devices(portrait phones, less than 576)*/
@media(max-width: 575.98px){

}
/*small devices (landscape phones,576 and up)*/
@media(min-width: 576px) and (max-width: 767.98px){

}
/*Medium devices(tablets,768 and up)*/
@media(min-width: 768px) and (max-width: 991.98px){

	
	.menu ul li a {
    font-size: 28px;
}
.b_h1 {
    font-size: 50px;
    margin-left: -56px;
}
.b_h2 {
    font-size: 23px;
    margin-left: -56px;
    margin-top: 37px;
}
	.banner{		
	    width: 140%;
	    padding: 156px
	}
	.p_title{
		    margin-left: 246px;
		        margin-top: -76px;
	}
	.l_img {
	    width: 135%;
	    margin-left: 94px;
		}
		.l_text{   
		    margin-left: 129px;
		    margin-top: -35px;
		    width: 101%;
		    padding: 4px;
		}
		.l_p {
   			 font-size: 26px;
}
		.btn_c {
    		    margin: 91px 346px 68px;
    	}
    	.btn_common {
    		font-size: 30px;
    		  margin-left: -54px}
    	 .b_p {
			   margin-right: 32px;
			   margin-left: -141px;
			   font-size: 25px;
			}
			.p_img {
			    margin-left: 62px;
			    width: 131%;
			}
			.p_text{
			    padding: 132px 16px 73px;
			    margin-right: -222px;
			    margin-left: 142px;
			}

		  .h_text {
			    margin-left: 60px;
			    padding: 80px;
			    margin-right: -174px;
			    margin-top: -3px;
		}
		.h_img {
		    width: 122%;
		    margin-left: 153px;
		    margin-top: -6px;
		}
		.img_site {
		    text-align: -webkit-center;
		    padding: 174px 9px 167px;
		    width: 155%;
		    margin-left: -35px;
		    margin-top: 39px;
		    margin-bottom: 197px;
		}
		.f_text {
   			 font-size: 41px;
}
		.f_p {
    
    		font-size: 28px;
    	}
    	.inner_bannar {
		    margin-left: -34px;
		    width: 155%;
}
    	.s_text {
		    margin: 37px 40px -21px;
		    font-size: 64px;
		}
		.t_title {
		    margin-top: 22px;
		    margin-left: 227px;
		}
		.p_h3 {
		    margin-left: 218px;
		    font-size: 34px;
		}
		.e_h1 {
    	font-size: 40px;
   }
   .e_p {
    margin: 67px -204px 37px;
}
		.box{		
    padding: 241px 278px 164px;
    width: 153%;
    margin-left: -20px;
		}
		.f_email{   
		 font-size: 59px;

		}
		.p_email {
    font-size: 31px;
}
		.c_submit {
    margin-left: 391px;
	}

}
/*Large devices(desktops,992px and up)*/
@media(min-width: 992px) and (max-width: 1199.98px){
	.banner{
		    margin-right: -39px!important;
		}	
		.p_img{
			    margin-left: 27px;
		}
		.p_text{

		    padding: 131px 16px 79px;
		    margin-right: 33px;
		    margin-left: 3px;
		}
		.h_text{
		    margin-left: 27px;
		    padding: 80px;
		    margin-right: -30px;
		    margin-top: -6px;
		}
		.h_img{

		    width: 92%;
		    margin-left: 6px;
		    margin-top: -6px;
		}
		.box{
			    padding: 317px 183px 164px;
		}
		.p_email {
			    font-size: 25px;
			}
			.a_h1 {
    		font-size: 41px;
    	}
			.a_text {
    		padding: 0px;
    		font-size: 24px
    	}

		.f_1{
			margin-top: 50px;
		}
		.f_2{
			margin-top: 50px;
		}
		.f_1{

		       margin-left: -34px;

		}
		.f_2{
		       margin-left: 81px;
		}

}
/*X-Large devices (large desktops,1200px and up)*/
@media(min-width: 1200px) and (max-width: 1399.98px){
	.banner{
		    margin-right: -39px!important;
	}
	.btn_c{
		    margin-bottom: 68px;
	}

}